* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #121214;
  font-family: "Poppins", Helvetica, sans-serif;
}
@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  40% {
    transform: translatey(5px);
  }
}
.efeito-flutuante-infinito {
  animation: float 2s ease-in-out infinite;
}
figure {
  transition: transform 0.3s ease-in-out; /* Aplica a mesma transição para entrada e saída */
}

figure:hover {
  transform: scale(1.2); /* Aumenta a escala ao passar o mouse */
}

::selection {
  background-color: #4e126e; /* cor de fundo para a seleção */
  color: #fff; /* cor do texto quando selecionado */
}

::-moz-selection {
  background-color: #4e126e; /* cor de fundo para a seleção no Firefox */
  color: #fff; /* cor do texto quando selecionado no Firefox */
}
